.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 40%;
  height: auto;
}

.photos-header {
  margin-bottom: 5%;
}

.photos-sentence {
  width: 40%;
}
